.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
  text-align: center;
  }
  
.loginBox {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 320px;
    text-align: center;
  }
  
  .loginTitle {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #333;
  }
  
.inputField {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  
.loginBtn {
    width: 100%;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
.loginBtn:hover {
    background-color: #0056b3;
  }
.displayelements{
    width: 100%;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;


}
.positiveBalance {
  background-color: lightgreen;
}

.negativeBalance {
  background-color: lightcoral;
}

.Balances{
  width: 170px;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  background-color: cornflowerblue;

}

.component{
  display: flex;


}